html, body {
	height: 100%;
}

body {
	background-color: #EEE;
	padding-top: 50px;
}

.main-area {
	height: 100%;
	width: 100%;
}

.session {
	height: 100%;
}

.columns-wrapper {
	height: 100%;
	position: relative;
}

.postits-columns {
	height: 100%;
	padding-right: 400px;
}

.session-info {
	position: fixed;
	right: 0px;
	top: 50px;
	width: 400px;
	height: 100%;
	border-color: #000;
	box-shadow: -2px 0px 2px 0px #999999;
	padding: 5px;
}

.postits {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}

.background-area {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.background-area-table {
	height: 100%;
	width: 100%;
	display: table;
	overflow: hidden;
}

.background-area-table .background-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #DBB;
	user-select: none;
	cursor: default;
}

postit-layout {
	display: block;
	position: relative;
}

.public-private {
	height: 100%;
	position: relative;
}

.postits-header {
	height: 45px;
	line-height: 45px;
	background-color: #FFF;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	box-shadow: 0px 2px 2px #999999;
	padding-left: 10px;
	padding-right: 10px;
}

.postits-area {
	height: 100%;
	position: relative;
	overflow: auto;
	padding-top: 45px;
}

.postits-board {
	height: 100%;
	overflow: auto;
	position: relative;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.postit {
	border: 1px solid gray;
	width: 150px;
	height: 100px;
	padding: 4px;
	font-size: 85%;
	background: #FFFC7F;
	box-shadow: 2px 2px 2px #999999;
	float: left;
	margin: 5px;
	position: relative;
}

.postit-dragged {
	border: 1px solid black;
}

.column-dropped {
	background-color: red;
}

.postit-toolbar {
	font-weight: bold;
	text-align: right;
}

.postit-delete {
	cursor: pointer;
    font-size: 120%;
}

.postit-editable {
	cursor: pointer;
    height: 70px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.postits-filter-zone {
	float: right;
	top: 6px;
	vertical-align: middle;
	width: 250px;
}

.postits-filter {
/*	width: 450px;*/
}