html, body {
	height: 100%;
}

body {
	background-color: #EEE;
	padding-top: 50px;
}

.postits-all {
	height: 100%;
	width: 100%;
}

.postits {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}

.postits-header {
	height: 3em;
	background-color: #FFF;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	box-shadow: 2px 2px 2px #999999;
	padding-left: 10px;
	padding-top: 5px;
}

.postits-area {
	height: 100%;
	position: relative;
	overflow: auto;
	padding-top: 50px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.postit {
	border: 1px solid gray;
	width: 150px;
	height: 150px;
	padding: 4px;
	font-size: 85%;
	background: #FFFC7F;
	-moz-box-shadow: 2px 2px 2px #999999;
	-webkit-box-shadow: 2px 2px 2px #999999;
	box-shadow: 2px 2px 2px #999999;
	float: left;
	margin: 5px;
	position: relative;
}

.postit-toolbar {
	font-weight: bold;
	text-align: right;
}

.postit-delete {
	cursor: pointer;
    font-size: 120%;
}

.postit-editable {
	cursor: pointer;
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.btn-positive {
  background-color: #DFD
}
.btn-negative {
  background-color: #FDD
}

.postits-filter {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 150px;
}