<div class="modal-header">
  <h3 class="modal-title">New retrospective session</h3>
</div>
<div class="modal-body">
  <form>
	<div class="form-group">
	  <label for="yourName">Enter your name:</label>
      <input type="text" class="form-control" id="yourName" placeholder="Username">
	</div>
	<div class="form-group">
	  <label for="sessionName">Enter a name for this session:</label>
      <input type="text" class="form-control" id="sessionName" placeholder="Session name">
	</div>
  </form>
  </div>
  <div class="modal-footer">
	<button class="btn btn-primary" ng-click="save()">Create session</button>
	<button class="btn btn-warning" ng-click="dismiss()">Cancel</button>
  </div>
</div>
