<div class="session" ng-include="'views/session-' + stepNo + '.html'">
<div class="session-info" ng-include="'partials/sessioninfo.html'">
</div>
<!-- <div class="postits-header" > -->
<!--   <input type="text" ng-model="newPostit.text" placeholder="Post-it message" />&nbsp; -->
<!--   <button class="btn btn-default btn-negative" ng-click="addPostit('negative')">Negative</button> -->
<!--   <button class="btn btn-default btn-positive" ng-click="addPostit('positive')">Positive</button> -->
<!-- </div> -->
